.btn-primary {
    color: #662D91;
    background-color: #fff;
    border-color: #662D91;
}
.btn-primary:hover {
    color: #FFF;
    background-color: #662D91;
    border-color: #F6EE82;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 45, 145, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #662D91;
    border-color: #662D91;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
   .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #662D91;
    border-color: #662D91;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
   .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 45, 145, 0.5);
}
.btn-secondary {
    color: white;
    background-color: #662D91;
    border-color: #662D91;
}
.btn-secondary:hover {
    color: #662D91;
    background-color: #F6EE82;
    border-color: #F6EE82;
}
.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 45, 145, 0.5);
}
.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #662D91;
    border-color: #662D91;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
   .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #662D91;
    border-color: #662D91;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
   .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 45, 145, 0.5);
}
.header__bande {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.header__banderole {
    padding: 75px;
    background-color: #662D91;
    box-shadow: 1px 1px 12px #555;
}

.header__tweet {
    padding: 20px;
    background-color: #F6EE82;
    color: #662D91;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
h4 {
    margin-left: 20px;
}
.header__tweet__box {
    display: flex;
    margin-right: 300px;
    margin-left: 600px;
}
.header__tweet__follow {
    margin-left: 250px;
}
.header__profilpic {
    position:relative;
    z-index: 3;
    width: 10%;
    padding: 5px;
    /* margin-left: 00px; */
}
img {
    width: 10%;
    border-radius: 50%;
    box-shadow: 5px 5px 24px #555;
    border: 5px solid white;
    margin-bottom: 30px;
    position: relative;
    margin-left:200px;
    margin-top:100px;
    z-index: 3;
}
.container__leftside {
    position:relative;
    z-index: 2;
}